bin
obj
.vs
/C# BASIC EXERSICE AND EXAMS/05.Supplies for School/05.Supplies for School.sln
/C# BASIC EXERSICE AND EXAMS/06.Speed Info/06.Speed Info.sln
/C# BASIC EXERSICE AND EXAMS/ConStAdvance-02.Exercise/ConStAdvance-02.Exercise.sln
/C# BASIC EXERSICE AND EXAMS/ConStAdvance-03.Exercise/ConStAdvance-03.Exercise.sln
/ConStAdvance-01.Exercise/ConStAdvance-01.Exercise.sln
/C# BASIC EXERSICE AND EXAMS/ConStAdvance-04.Exercise/ConStAdvance-04.Exercise.sln
/C# BASIC EXERSICE AND EXAMS/ConStAdvance-05.Exercise/ConStAdvance-05.Exercise.sln
/C# BASIC EXERSICE AND EXAMS/ConStAdvance-06.Exercise/ConStAdvance-06.Exercise.sln
*sin
/C# BASIC EXERSICE AND EXAMS/ConStAdvance-07.Exercise/*.sln
